<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
    <ul>
      <li><a href="homepage.html" class="mymenu" title="Home">Home</a>
          <a href="sobre.html" class="mymenu" title="Sobre">Sobre</a>
          <a href="portfolio.html" class="mymenu" title="Portfolio">Portfolio</a>
          <a href="contatos.html" class="mymenu" title="Contato">Contato</a>
      </li>
  </ul>
</head>
<body>
  <p>Nossos contatos são:</p>
  <p>E-mail: diogomou@gmail.com</p>
  <p>Telefone: (34)99909660</p>
</body>
</html>