<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil Usuario</title>
    <ul>
      <li><a href="https://deploysitetest-production.up.railway.app/" class="mymenu" title="Home">Home</a>
          <a href="sobre.html" class="mymenu" title="Sobre">Sobre</a>
          <a href="portfolio.html" class="mymenu" title="Portfolio">Portfolio</a>
          <a href="contatos.html" class="mymenu" title="Contato">Contato</a>
      </li>
  </ul>
</head>
<body>
  <p>Portfolio é muito importante para consolidação do conhecimento</p>
</body>
</html> 