<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil Usuario</title>
    <a href="/lancar_railway/templates/homepage.html">Home</a>
    <a href="/lancar_railway/templates/sobre.html">Sobre</a>
    <a href="/lancar_railway/templates/portfolio.html">Portfolio</a>
    <a href="/lancar_railway/templates/contatos.html" >Contato</a>
    <a href="/lancar_railway/templates/usuarios.html">Usuarios</a>
</head>
<body>
  <p>Os detalhes fazem a diferença</p>
</body>
</html> 